<a href="https://colab.research.google.com/github/MaryAdewunmi/Data-Cleaning/blob/MaryAdewunmi-patch-1/KPMG_Internship_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the Libraries**

---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from copy import copy
from scipy import stats
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go

# **Importing Dataset**

---

In [2]:
from google.colab import files
uploaded = files.upload()

Saving KPMG_VI_New_raw_data_update_final.xlsx to KPMG_VI_New_raw_data_update_final.xlsx

In [3]:
import io
df1= pd.ExcelFile(io.BytesIO(uploaded['KPMG_VI_New_raw_data_update_final.xlsx']))

In [4]:
#To see the sheets in the data
print(df1.sheet_names)

['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

In [6]:
#Convert the sheets to dataframe for data cleaning using numpy operation 
df = df1.parse('Transactions')
df2 = df1.parse('NewCustomerList')
df3 = df1.parse('CustomerDemographic')
df4 = df1.parse('CustomerAddress')

In [7]:
df.head()

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...              Unnamed: 12
0                                     transaction_id                                                                                                                             ...  product_first_sold_date
1                                                  1                                                                                                                             ...                    41245
2                                                  2                                                                                                                             ...                    41701
3                                                  3                                                                                                                             ...                    36361
4                                                  4                                                                                                                             ...                    36145

[5 rows x 13 columns]

In [8]:
df2.head()

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ... Unnamed: 22
0                                         first_name                                                                                                                             ...       Value
1                                            Chickie                                                                                                                             ...     1.71875
2                                              Morly                                                                                                                             ...     1.71875
3                                            Ardelis                                                                                                                             ...     1.71875
4                                             Lucine                                                                                                                             ...     1.70312

[5 rows x 23 columns]

In [ ]:
df3.head()

In [9]:
df4.head()

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...          Unnamed: 5
0                                        customer_id                                                                                                                             ...  property_valuation
1                                                  1                                                                                                                             ...                  10
2                                                  2                                                                                                                             ...                  10
3                                                  4                                                                                                                             ...                   9
4                                                  5                                                                                                                             ...                   4

[5 rows x 6 columns]

In [ ]:
print df['ST_NUM']
print df['ST_NUM'].isnull()
Out: